<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">
  <servlet>
    <servlet-name>AIQuiz</servlet-name>
    <servlet-class>com.example.codequest.AIQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AIQuiz</servlet-name>
    <url-pattern>/AIQuiz</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DailyChallenge</servlet-name>
    <servlet-class>com.example.codequest.DailyChallengeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailyChallenge</servlet-name>
    <url-pattern>/DailyChallenge</url-pattern>
  </servlet-mapping>
</web-app>
